// Import your components CSS files here.
@import "alert";
@import "navbar";
.card {
  height: 200px;
  width:200px;
  margin: 20px;
  text-decoration: none;
  color: white;
}

.card :hover {
  color: #D7DBD2;
}
