// Place all the styles related to the Doses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #C1FFC5;
}
body, h1 {
font-family: 'Lobster', cursive;
color: white;
}
